<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %} 
{% block title%} iPhone 13 {% endblock%}
{% block content %}
    <style>
      body {
        background-color: pink;
      }
    </style>
    <link rel="stylesheet" href="{% static 'css/iphone13.css' %}">
      <div id="card11" class="card mx-auto" style="width: 18rem;">
        <img id="cardimage11" src="{% static 'images/apple-iphone-13.jpg' %}" class="card-img-top" alt="iPhone 13">
        <div class="card-body">
          <h5 class="card-title">iPhone 13</h5>
          <p class="card-text">Released : 24 September 2021</p>
          <p class="card-text">Resolution : 1170x2532 pixels</p>
          <p class="card-text">RAM : 4 GB</p>
          <p class="card-text">Network : GSM / CDMA / HSPA / EVDO / LTE / 5G</p>
          <a href="{% url 'home' %}" class="btn btn-primary" style="margin-left: 140px;">Main Page</a>
        </div>
      </div>

      <div class="mainfooter" style="margin-top: 30px;">
        <p id="textfooter1">Email : gjikakevin@gmail.com</p>
        <p id="textfooter2">Contact : +355 69 58 00 413</p>
        <p id="textfooter3">Created by : Kevin Gjika</p>
      </div>
      {% endblock %}