<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %} 
{% block title%} Samsung Galaxy S6 Edge Plus {% endblock%}
{% block content %}
    <style>
      body {
        background-color: pink;
      }
    </style>
      <link rel="stylesheet" href="{% static 'css/sgs6ep.css' %}">
      <div id="card17" class="card mx-auto" style="width: 18rem;">
        <img id="cardimage17" src="{% static 'images/samsung-galaxy-s6-edge-plus.jpg' %}" class="card-img-top" alt="Samsung Galaxy S6 Edge Plus">
        <div class="card-body">
          <h5 class="card-title">Samsung Galaxy S6 Edge +</h5>
          <p class="card-text">Released : August 2015</p>
          <p class="card-text">Resolution : 1440x2560 pixels</p>
          <p class="card-text">RAM : 4 GB</p>
          <p class="card-text">Network : GSM / HSPA / LTE</p>
          <a href="{% url 'home' %}" class="btn btn-primary" style="margin-left: 140px;">Main Page</a>
        </div>
      </div>

      <div class="mainfooter" style="margin-top: 54px;">
        <p id="textfooter1">Email : gjikakevin@gmail.com</p>
        <p id="textfooter2">Contact : +355 69 58 00 413</p>
        <p id="textfooter3">Created by : Kevin Gjika</p>
      </div>
      {% endblock %}