<!DOCTYPE html>
{% extends 'index.html'%}
{% block title%} About Us {% endblock%}
{% load static %}
{% block content %}
<style>
    body {
      background-color: pink;
    }
  </style>
  <h1 style="margin-top: 170px; margin-left: 65px; text-align: center; width: 90%; background-color: white; color: black;">Our website offers the best selling phones in history of iPhone and Samsung companies. You can also see between the six others models that our page offers for two companies mentioned.</h1>
<div class="mainfooter" style="margin-top: 231px;">
    <p id="textfooter1">Email : gjikakevin@gmail.com</p>
    <p id="textfooter2">Contact : +355 69 58 00 413</p>
    <p id="textfooter3">Created by : Kevin Gjika</p>
  </div>
{% endblock%}